VITE_FIREBASE_API_KEY=AIzaSyAdYi5G-PhDWzD9anZZL_76asUpcCzJg9Y
VITE_FIREBASE_AUTH_DOMAIN=agendamentop1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=agendamentop1
VITE_FIREBASE_STORAGE_BUCKET=agendamentop1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=105298128598
VITE_FIREBASE_APP_ID=1:105298128598:web:8f1cedf58ff80dd6effeaf
VITE_ADMIN_EMAILS=admin@p1autorecife.com.br
